body {
    padding: 0;
    margin: 0;
    background: rgb(237, 238, 240) !important; /*#f2f6e9*/
}
.navbar {
    background:#000;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    color: #fff !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

h2{
    display: inline;
}

/* Set the size of the div element that contains the map */
#map {
    height: 700px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}